<div class="bg-info p-2 text-center text-white">
  <h3>SportsStore Admin</h3>
</div>
<div class="bg-danger mt-2 p-2 text-center text-white"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>
<div class="p-2" style="width: 30%; margin-left: auto;
    margin-right: auto;">
  <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
    <div>
      <label class="form-label">Username</label>
      <input class="form-control" name="username"
             [(ngModel)]="username" required />
    </div>
    <div>
      <label class="form-label">Password</label>
      <input class="form-control" type="password" name="password"
             [(ngModel)]="password" required />
    </div>
    <div class="text-center">
      <button class="btn btn-secondary" routerLink="/">Go back</button>
      <button class="btn btn-primary" type="submit">Log In</button>
    </div>
  </form>
</div>
