<div class="content">
  <div class="title">Sport Store</div>
  <div class="description">
    <p>
      Интернет-магазин сопртивной тематики <br />
      sport-store.com — это удобное место для покупки продуктов и аксессуаров
      спортивной тематики от Нас и других производителей. Вы можете купить
      онлайн или позвонить по телефону +7 (800–692–7753). Вы можете получить
      информацию о заказе, размещенном в интернет-магазине спортивной тематики,
      на странице «Статус заказа». При желании вы также можете узнать статус
      заказа или внести изменения по телефону +7 (800) 692–7753.
    </p>
    <p>
      Как стать нашим партнером <br />
      Если вы являетесь бизнес-пользователем или профессиональным пользователем,
      посетите Sports Store для бизнеса или позвоните по телефону
      8–800–854–3680.
    </p>
  </div>
  <div class="links">
    <div class="links-text">Мы есть в ВКонтакте и в Twitter</div>
    <div class="photos">
      <div class="vk">
        <img src="assets/images/VK.png" alt="ВКонтакте" />
      </div>
      <div class="twitter">
        <img src="assets/images/twitter.png" alt="twitter" />
      </div>
    </div>
  </div>
</div>
