.content {
  width: 100%;
  background: #edf2f4;
  padding: 0 0 0 16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 73px;
  align-items: center;
  gap: 69px;
  border-bottom: 1px solid #8D99AE;


  .logo-sector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 279px;

    .logo {
      width: 89px;
      height: 69px;
      background: #6bc502;
    }

    .site-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 27pt;
      width: 190px;
    }
  }

  .nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .main-nav-elements {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 73px;


    }

    .second-nav-elements * {
      cursor: pointer;
    }

    .second-nav-elements {
      display: flex;
      gap: 20px;
      height: 39px;
      font-size: 17px;

      .cart.selected:after {
        border-bottom: solid 3px #ef233c !important;
      }

      .cart:after {
        display:block;
        content: '';
        border-bottom: solid 3px #ef233c;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      .cart:hover:after {
        transform: scaleX(1);
      }

      .cart {
        align-items: center;
        gap: 10px;
        padding: 0 10px 0;


        .icon {
          padding-top: 3px;
          font-size: 30px !important;
        }

        .cart-elements {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }

      .login {
        display: flex;
        justify-content: center;
        align-items: center;

        .text {

        }

      }
      .sign-in {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        color: white;
        height: 39px;

        background: #EF233C;
        border-radius: 5px;
      }
    }
  }
}


.buttons {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 50px;
  width: fit-content;
  gap: 20px;
}

.button.selected:after {
  border-bottom: solid 3px #ef233c !important;
  transform: scaleX(1);
}

.button {
  font-size: 17px;
  height: 100%;
  white-space: nowrap;

  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.button:after {
  display:block;
  content: '';
  border-bottom: solid 3px #ef233c;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button:hover {
  cursor: pointer;
}


.login-group {
  .auth-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
  }

  padding: 10px ;

  position: absolute;
  width: 300px;
  height: 240px;
  left: calc(100% - 360px);
  top: 50px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  .button-login {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;

    width: 67px;
    height: 39px;
    left: 117px;
    top: 223px;

    background: #EF233C;
    border-radius: 5px;
  }
}

.reg-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;

  position: absolute;
  width: 377px;
  height: 560px;
  left: calc(100% - 400px);
  top: 50px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;

  .auth-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
  }

  .form-group {
    width: 100%;
  }

  .button-login {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;

    width: fit-content;
    height: 40px;
    left: 117px;
    top: 223px;

    background: #EF233C;
    border-radius: 5px;
  }
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
}
