<div class="content">
  <div class="logo-sector">
    <div class="logo"></div>
    <div class="site-name">Sports Store</div>
  </div>
  <div class="nav-elements">
    <div class="main-nav-elements">
      <div class="buttons">
        <div
          class="button"
          [class.selected]="isSelect('catalog')"
          (click)="navClick('catalog')"
        >
          Каталог
        </div>
        <div
          class="button"
          [class.selected]="isSelect('about')"
          (click)="navClick('about')"
        >
          О компании
        </div>
        <div
          class="button"
          [class.selected]="isSelect('admin')"
          (click)="navClick('admin')"
        >
          Администрирование
        </div>
        <div
          class="button"
          [class.selected]="isSelect('account')"
          (click)="navClick('account')"
        >
          Управление аккаунтом
        </div>
      </div>
    </div>
  </div>
</div>
