<ng-container *ngIf="users$ | async as users; else loading">
  <!--  <igx-grid [data]="users">-->
  <!--    <igx-column field="first_name"></igx-column>-->
  <!--    <igx-column field="last_name"></igx-column>-->
  <!--    <igx-column field="login"></igx-column>-->
  <!--  </igx-grid>-->
  <!--  <button class="btn btn-primary" routerLink="/admin/main/users/create">-->
  <!--    Create New User-->
  <!--  </button>-->
  <ng-container *ngIf="!isOpen; else edit">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Логин</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.login }}</td>
          <td>
            <button class="btn btn-sm btn-warning m-1" (click)="editUser(user)">
              Edit
            </button>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteUser(user.user_id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" routerLink="/admin/main/users/create">
      Create New User
    </button>
  </ng-container>
  <ng-template #edit>
    <app-user-create
      [user]="selectedUser"
      [isEdit]="isEdit"
      (closeEditor)="closeEditor()"
    ></app-user-create>
  </ng-template>
</ng-container>
<ng-template #loading> loading... </ng-template>
