<div style="margin-bottom: 20px">
  <h5 *ngIf="!isOpen">Заказы</h5>
  <h5 *ngIf="isOpen">
    {{ isEdit ? "Редактирование заказа" : "Добавление заказа" }}
  </h5>
</div>
<ng-container *ngIf="!isOpen; else edit">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Manager</th>
        <th>Products</th>
        <th>Status</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orders$ | async; let i = index">
        <td>{{ o.id }}</td>
        <td>{{ getManager(o) }}</td>
        <td>{{ getProducts(o) }}</td>
        <td>{{ o.status.status_name }}</td>
        <td>{{ getPrice(o) }}</td>
        <td>
          <button
            (click)="order$.next(o); isEdit = true; isOpen = true"
            class="btn btn-sm btn-warning m-1"
          >
            Edit
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteProduct(o.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="isOpen = true" class="btn btn-primary">
    Create New Product
  </button>
</ng-container>
<ng-template #edit
  ><app-order-edit
    (closeEditor)="closeEditor($event)"
    [order]="order$ | async"
    [isEdit]="isEdit"
  ></app-order-edit>
</ng-template>
