<form [formGroup]="orderForm">
  <div class="form-group">
    <label>Адрес</label>
    <input
      formControlName="address"
      required
      [class.is-valid]="checkValid('address')"
      [class.is-invalid]="!checkValid('address')"
      class="form-control"
      name="name"
    />
    <span *ngIf="orderForm.controls.address.invalid" class="text-danger">
      Укажите адрес
    </span>
  </div>
  <div class="form-group">
    <label>Город</label>
    <input
      formControlName="city"
      class="form-control"
      name="name"
      [class.is-valid]="checkValid('city')"
      [class.is-invalid]="!checkValid('city')"
    />
  </div>
  <div class="form-group">
    <label>Страна</label>
    <input
      formControlName="country"
      class="form-control"
      name="name"
      [class.is-valid]="checkValid('country')"
      [class.is-invalid]="!checkValid('country')"
    />
  </div>
  <div class="form-group">
    <label>Индекс</label>
    <input
      formControlName="zip"
      class="form-control"
      name="name"
      [class.is-valid]="checkValid('zip')"
      [class.is-invalid]="!checkValid('zip')"
    />
  </div>
  <div class="form-group">
    <label>Описание заказа</label>
    <input
      formControlName="desc"
      class="form-control"
      name="name"
      [class.is-valid]="checkValid('desc')"
      [class.is-invalid]="!checkValid('desc')"
    />
  </div>
  <!--  <div class="form-group">-->
  <!--    <label>Вес</label>-->
  <!--    <input-->
  <!--      formControlName="weight"-->
  <!--      class="form-control"-->
  <!--      name="name"-->
  <!--      [class.is-valid]="checkValid('weight')"-->
  <!--      [class.is-invalid]="!checkValid('weight')"-->
  <!--    />-->
  <!--  </div>-->
  <div class="form-group">
    <label>Статус</label>
    <select
      class="form-select"
      formControlName="status_id"
      [class.is-valid]="checkValid('status_id')"
      [class.is-invalid]="!checkValid('status_id')"
    >
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let status of statuses$ | async" [value]="status.id">
        {{ status.status_name }}
      </option>
      <div
        *ngIf="orderForm.controls.status_id.invalid"
        class="invalid-feedback"
      >
        Не правильно
      </div>
    </select>
  </div>
  <div class="form-group">
    <label>Курьер</label>
    <select
      class="form-select"
      [formControl]="courierControl"
      [class.is-valid]="checkValid('courier')"
      [class.is-invalid]="!checkValid('courier')"
      [compareWith]="objectComparisonFunction"
    >
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let status of couriers$ | async" [value]="status.id">
        {{ status.first_name + " " + status.last_name }}
      </option>
      <div
        *ngIf="orderForm.controls.status_id.invalid"
        class="invalid-feedback"
      >
        Не правильно
      </div>
    </select>
  </div>
  <div class="form-group">
    <label>Заказчик</label>
    <select
      class="form-select"
      [formControl]="userControl"
      [class.is-valid]="checkValid('owner')"
      [class.is-invalid]="!checkValid('owner')"
      [compareWith]="objectComparisonFunction"
    >
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let status of users$ | async" [value]="status.id">
        {{ status.first_name + " " + status.last_name }}
      </option>
      <div
        *ngIf="orderForm.controls.status_id.invalid"
        class="invalid-feedback"
      >
        Не правильно
      </div>
    </select>
  </div>
  <button
    type="submit"
    (click)="save()"
    class="btn btn-primary m-1"
    [disabled]="orderForm.invalid"
    [class.btn-warning]="isEdit"
  >
    {{ isEdit ? "Save" : "Create" }}
  </button>
  <button (click)="closeEdit()" type="reset" class="btn btn-secondary">
    Cancel
  </button>
</form>
